<!DOCTYPE html>
<title>Cleaning Website</title>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/css/default.css' %}">
    <script src="{% static '/js/navbar.js' %}" defer></script>
  </head>

  <body>
    <header data-hide="false" class="primary-header flex">
      <a href="{% url 'home' %}" class="logo round">LOGO</a>

      <button data-open="false" class="menu-toggle"></button>

      <nav>
        <ul data-visible="false" class="primary-navigation flex round">
          <li><a class="verdana-ss-20px" href="{% url 'home' %}">Home</a></li>
          <li><a class="verdana-ss-20px" href="{% url 'book_appointment' %}">Bookings</a></li>  <!-- Bookings Link -->
          <li>
            {% if user.is_authenticated %}
              <a class="verdana-ss-20px" href="#profile">Hello, {{ user.username }}.</a>
            {% else %}
              <a class="verdana-ss-20px" href="#signin">Sign In</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>

    <main class="content">
      {% block content %}
      {% endblock content %}
    </main>

  </body>
</html>
