<!DOCTYPE html>
<title>Cleaning Website</title>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/css/default.css' %}">
    <link rel="stylesheet" href="{% static '/css/auth.css' %}">
    <script src="{% static '/js/navbar.js' %}" defer></script>
</head>

<body>
<header data-hide="false" class="primary-header flex">
    <a href="{% url 'home' %}" class="logo round">
        LOGO
    </a>

    <button data-open="false" class="menu-toggle"></button>

    <nav>
        <ul data-visible="false" class="primary-navigation flex round">
            <li><a class="verdana-ss-20px" href="#default">Link 1</a></li>
            <li><a class="verdana-ss-20px" href="#default">Link 2</a></li>
            <li><a class="verdana-ss-20px" href="{% url 'book_appointment' %}">Bookings</a></li>  <!-- Bookings Link -->
            {% if user.is_authenticated %}
                <li>
                    <a class="verdana-ss-20px" href="#profile">
                        Hello, {{ user.username }}.
                    </a>
                </li>
                <li>
                    <form class="sign-out" action="/sign_out/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="sign-out-button verdana-ss-20px">Sign Out</button>
                    </form>
                </li>
            {% else %}
                <li>
                    <a class="verdana-ss-20px" href="/sign_in/">
                        Sign In
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>

<main class="content">
    {% block content %}
    {% endblock content %}
</main>

<!--  <script src="{% static '/js/navbar.js' %}"></script> </body> -->
</body>
</html>