{% extends "navbar.html" %}

{% block content %}

    <div>
        <h1>Sign In</h1>
        <p> Please enter your username and password to sign in. </p>
    </div>

    <div>
        <form class="form-with-validation" action="/sign_in/" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="form-submit" type="submit">Sign In</button>
        </form>
        <br>
        Don't already have an account? Create one <a href="/register/">here</a>
    </div>
{% endblock content %}