.auth-div {
    padding: 1rem 2.5rem 2.5rem;
    max-width: 1280px;
    width: 80vw;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
}

.auth-title {
    text-align: center;
}

.form-with-validation {
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    color: white;
}

.form-with-validation div {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 0.5rem;
}

.form-with-validation input {
    padding: 12px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    background: hla(0, 100%, 0%, 0.1);
    color: white;
    font-size: 1rem;
    color-scheme: dark;
}

/*
.form-with-validation ul {
    border-left: 5px solid lightcoral;
    list-style-type: none;
}

*/

.form-with-validation label {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.form-submit {
    width: 100%;
    background: lightcoral;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease-in-out;
}

.helptext {
    font-size: 1rem;
    border-left: 5px solid lightcoral;
    margin-left: 0;
    padding-left: 1rem;
}

.helptext ul {
    list-style-type: none;
    padding-left: 0;
}

.errorlist {
    color: #bd6a6a;
}

.errorlist li::marker {
    content: '🚨 ';
}

/*
The sign out classes below are used for the testing sign out button in the navbar.
This might be removed in the future.
*/

.sign-out {
    display: inline-block;
    margin: 0;
}

.sign-out-button {
    background-color: rgba(0 0 0 / 0);
    padding: 0;
    border: none;
    cursor: pointer;
}

}

cursor: pointer;
}
}

cursor: pointer;
}
}

cursor: pointer;
}
}

cursor: pointer;
}
}

cursor: pointer;
}
}

cursor: pointer;
}
}

cursor: pointer;
}
}

cursor: pointer;
}
}

cursor: pointer;
}
}

cursor: pointer;
}
