/* --- GLOBAL STYLES --- */
.flex {
    display: flex;
    --gap: 1em;
}

.round {
    border-radius: 15px;
}

.background-grey {
    background: #2c2c38;
}

.verdana-ss-20px {
    font-family: 'Verdana', 'sans-serif';
    font-size: 20px;
    font-weight: 900;
    color: white;
}

html,
body {
    display: grid;
    padding-top: 70px;
    margin: 0;
    background: rgb(24, 24, 26);
    overflow-x: hidden;
    color: #e0e0e0;
}

.logo {
    display: inline-block;
    margin: 2rem;
    background: url('https://cdn-icons-png.flaticon.com/512/8634/8634252.png') no-repeat center center;
    background-size: contain;
    /* Adjust to 'cover' if you prefer */
    width: 100px;
    /* Set an appropriate width */
    height: 100px;
    /* Set an appropriate height */
    text-indent: -9999px;
    /* Hides any text inside the element */
    /* Remove unnecessary font properties if you don't need them */
}

.content {
    padding: 2rem;
    align-items: center;
    margin: auto;
}

.content>div {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0.5rem;
}

/* --- NAVIGATION --- */
.primary-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: lightcoral;
    border-radius: 0 0 15px 15px;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0%);
    transition: transform 150ms linear;
    z-index: 9999;
}

.primary-header[data-hide="true"] {
    transform: translateY(-100%);
}

.primary-navigation {
    list-style: none;
    padding: 0.5rem;
    margin: 2rem;
    align-items: center;
    background: hsl(0 100% 0% / 0.1);
    backdrop-filter: blur(1rem);
}

.primary-navigation li {
    border-right: 2px solid white;
    padding: 0.5rem;
}

.primary-navigation li:last-of-type {
    border-right: none;
}

.primary-navigation a {
    text-decoration: none;
    color: white;
}

.primary-navigation a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.primary-navigation a:hover {
    background-color: white;
    color: lightcoral;
}

.menu-toggle {
    visibility: hidden;
}

/* --- SIGN OUT --- */
.sign-out {
    display: inline-block;
    margin: 0;
}

.sign-out-button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border: none;
    cursor: pointer;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 40em) {
    .logo {
        margin: 2rem;
    }

    .primary-navigation {
        --gap: 2em;
        margin: 0;
        position: fixed;
        inset: 0 0 0 40%;
        flex-direction: column;
        padding: 50vh 1em;
        border-radius: 15px 0 0 15px;
        transform: translateX(100%);
        transition: transform 200ms ease-in;
    }

    .primary-navigation li {
        border-right: none;
        border-bottom: 2px solid white;
    }

    .primary-navigation li:last-of-type {
        border-bottom: none;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .menu-toggle {
        visibility: visible;
        position: absolute;
        z-index: 1000;
        background: url("/static/images/hamburger.svg");
        filter: invert(1);
        background-repeat: no-repeat;
        background-position: center;
        width: 3.5rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        border-style: none;
    }

    .menu-toggle[data-open="true"] {
        background: url("/static/images/closed.svg");
        filter: invert(1);
        background-repeat: no-repeat;
        background-position: center;
    }
}
